@import url('register.css');
@import url('signin.css');
@import url('dashboard.css');
@import url('sticky-footer-navbar.css');

select[class*="span"] {
    margin-bottom: 0;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.divider {
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    height: 1px;
}

.popover{
    display:block !important;
    max-width: 400px!important;
    width:auto;
}
/*Autocomplete styles*/